.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #eee;
}

.table th,
.table td {
  padding: 8px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #6a7fdb;
  font-weight: bold;
  color: #ffffff;
}

.table tbody {
  background-color: #ffffff;
  color: #000;
}

.table tbody tr td {
  font-size: 15px;
  color: #272727;
}

.table tbody tr:hover {
  background-color: #f5f3f3;
}

/* .table tbody.scrollable {
    height: 350px;
    overflow-y: scroll;
  } */
